<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <base href="{{ .Site.BaseURL }}">
        {{ partial "head.html" . }}
        {{ if eq .Section "blog" }}
        <link rel="stylesheet" href="css/single-page.css">
        {{ end }}
    </head>
    <body class="single-page">
        {{ partial "nav.html" . }}

        <section id="blog-single" data-section="blog-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>{{ .Title }}</h1>
                        <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
                        <div class="content">
                            {{ .Content }}
                        </div>
                        <div class="back-link">
                            <a href="{{ .Site.BaseURL }}">← Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" . }}
        {{ end }}
        {{ partial "js.html" . }}
    </body>
</html>
