<section id="blogs-list" data-section="blog" class="animated">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">{{ with .Site.Data.blog.title }}{{ . }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>{{ with .Site.Data.blog.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div id="blogs-carousel" class="carousel slide" role="region" aria-label="Blogs carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators" role="tablist">
				{{ range $index, $blog := .Site.Data.blog.blogs }}
					<li data-target="#blogs-carousel" data-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active"{{ end }} role="tab" aria-label="Blog {{ add $index 1 }}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"></li>
				{{ end }}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="presentation">
				{{ range $index, $blog := .Site.Data.blog.blogs }}
					<div class="item{{ if eq $index 0 }} active{{ end }}" role="tabpanel" aria-label="Blog {{ add $index 1 }}">
						<div class="blogs-item">
							<div class="blogs-thumbnail">
								<img src="{{ .thumbnail }}" alt="Thumbnail for {{ .title }}">
							</div>
							<div class="blogs-content">
								<h3>{{ .title }}</h3>
								<div class="summary">
									{{ .summary }}
								</div>
								<div class="links">
									<a href="{{ .url }}" target="_blank" aria-label="Read the blog {{ .title }}">Read the blog »</a>
								</div>
							</div>
						</div>
					</div>
				{{ end }}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#blogs-carousel" role="button" data-slide="prev" aria-label="Previous blog">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" href="#blogs-carousel" role="button" data-slide="next" aria-label="Next blog">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate" style="opacity: 1;">
				<p>{{ .Site.Data.blog.footertext | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
