	{{ $posts := where .Site.RegularPages "Section" "blog" }}
<section id="blogs-list" data-section="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Blog</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Latest Posts</h3>
					</div>
				</div>
			</div>
		</div>
		<div id="blogs-carousel" class="carousel slide" role="region" aria-label="blogs carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators" role="tablist">
				{{ range $index, $post := $posts }}
					<li data-target="#blogs-carousel" data-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active"{{ end }} role="tab" aria-label="blog {{ add $index 1 }}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"></li>
				{{ end }}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="presentation">
				{{ range $index, $post := $posts }}
					<div class="item{{ if eq $index 0 }} active{{ end }}" role="tabpanel" aria-label="blog {{ add $index 1 }}">
						<div class="blogs-item">							
							<div class="blogs-thumbnail">
								<img src="{{ .RelPermalink }}cover.jpg" alt="Thumbnail for {{ .Title }}">
							</div>							
							<div class="blogs-content">
								<h3>{{ .Title }}</h3>
								<p class="date">{{ .Date.Format "January 2, 2006" }}</p>
								<div class="summary">
									{{ .Summary }}
								</div>
								<div class="links">
									<a target="_blank" href="{{ .RelPermalink }}" aria-label="Read {{ .Title }}">Read more »</a>
								</div>
							</div>
						</div>
					</div>
				{{ end }}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#blogs-carousel" role="button" data-slide="prev" aria-label="Previous blog">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" href="#blogs-carousel" role="button" data-slide="next" aria-label="Next blog">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate">
				<p>{{ .Site.Data.blogs.footertext | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
