	<section id="paper-list" data-section="papers">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">{{ with .Site.Data.papers.title }}{{ . }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>{{ with .Site.Data.papers.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="papers-grid">
		{{ range .Site.Data.papers.papers }}
			<div class="paper-item to-animate">
				<div class="paper-thumbnail">
					<img src="{{ .thumbnail }}" alt="Paper thumbnail">
				</div>
				<div class="paper-content">
					<h3><a href="{{ .url }}" target="_blank">{{ .title }}</a></h3>
					<p class="authors">{{ .authors }}</p>
					<p class="journal">{{ .journal }}</p>
					<p class="abstract">{{ .abstract }}</p>
					<div class="links">
						<a href="{{ .url }}" target="_blank">View details »</a>
						{{ if .pdf }}<a href="{{ .pdf }}" target="_blank">PDF</a>{{ end }}
						{{ if .code }}<a href="{{ .code }}" target="_blank">Code</a>{{ end }}
						{{ if .data }}<a href="{{ .data }}" target="_blank">Data</a>{{ end }}
					</div>
				</div>
			</div>
		{{ end }}
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate">
				<p>{{ .Site.Data.papers.footertext | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
