	<section id="fh5co-work" data-section="papers">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">{{ with .Site.Data.papers.title }}{{ . }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>{{ with .Site.Data.papers.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-sm">
		{{ range .Site.Data.papers.papers }}
			<div class="col-md-12 col-sm-12 col-xxs-12 to-animate">
				<div class="paper-item">
					<h3><a href="{{ .url }}" target="_blank">{{ .title }}</a></h3>
					<p class="subtitle">{{ .subtitle }}</p>
					<p class="authors">{{ .authors }}</p>
					<p class="abstract">{{ .abstract }}</p>
					<p class="doi">DOI: <a href="{{ .url }}" target="_blank">{{ .doi }}</a></p>
				</div>
			</div>
		{{ end }}
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate">
				<p>{{ .Site.Data.papers.footertext | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
